html {
    font-size: 62.5%;
}
body {
    font-family: "SF Pro", sans-serif;
}
.container {
    max-width: calc(100% - 56px);
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #fff;
}

/* width */
::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-image: linear-gradient(to right, #00dc5a, #49d26d);
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgb(17, 19, 25);
}



