block mixins
	include ../blocks/mixins
block vars
	-title = 'home'
	-bodyClass = ''
doctype html
html(lang="en")
	head
		block head 
			include ../blocks/head
	body(class=bodyClass)
			//- a.link(href="anime.html") cccc
			block header 
				include ../blocks/header
			main
				block slider 
					include ../blocks/slider
				block homecontent 
					include ../blocks/homecontent
			b;p
			block script 
				include ../blocks/scripts
			//- .wrapper
			//- 	block header
			//- 		include ../blocks/header
			//- 	block container
			//- 	block footer
			//- 		include ../blocks/footer
			//- 	block script
			//- 		include ../blocks/scripts