.footer {
    width: 100%;
    background: rgb(10, 12, 15);
    border-top: 1px solid rgb(45, 47, 52);  
    &__wrapper {
        max-width: 1180px;
        margin: 35px auto 0;
    }
    &__top {
        display: flex;
        flex-direction: column;
    }
    &__about {
        color: #ddddd;
    }
}