.page {
    color: #fff;
    &__top {
        max-width: 1853px;
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    &__content {
        width: 43.6%;
    }
    &__title {
        font-size: 40px;
        line-height: 1.2;
        font-weight: 800;
        text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 0px;
        @include lineClamp(2);
    }
    &__director, &__cast, &__desc {
        font-size: 16px;
        color: rgb(155, 169, 172);
        & * {
            color: #fff;
        }
    }
    &__video {
        width: 56.4%;
    }
}
.left-layer {
    width: 28%;
    height: 100%;
    /* background-image: linear-gradient(270deg, rgba(17, 19, 25, 0) 0%, rgba(17, 19, 25, 0.05) 16%, rgba(17, 19, 25, 0.2) 30%, rgba(17, 19, 25, 0.39) 43%, rgba(17, 19, 25, 0.61) 55%, rgba(17, 19, 25, 0.8) 68%, rgba(17, 19, 25, 0.95) 82%, rgb(17, 19, 25) 98%); */
    border-radius: 1px;
    z-index: 100;
    position: absolute;
    bottom: 0px;
}