.page {
    position: relative;
    color: #fff;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 80px;
        background-image: linear-gradient(
            180deg,
            #000,
            rgba(0, 0, 0, 0.43) 57%,
            transparent
        );
        z-index: 3;
    }
    &__top {
        max-width: 1853px;
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    &__content {
        width: 43.6%;
    }
    &__title {
        font-size: 40px;
        line-height: 1.2;
        font-weight: 800;
        text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 0px;
        @include lineClamp(2);
    }
    &__director,
    &__cast,
    &__desc {
        font-size: 16px;
        color: rgb(155, 169, 172);
        & * {
            color: #fff;
        }
    }
    &__video {
        position: relative;
        width: 56.4%;
        height: 609.5px;
    }
    &__thumb {
        width: 100%;
        height: 100%;
        object-fit: fill;
        transition: 0.2s linear;
    }
    &__video--auto {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
        transition: 0.2s linear;
    }
    &__video--audio {
        position: absolute;
        
        & * {
            font-size: 20px;
            color: #fff;
        }
    }
    &__audio--wrapper {
        position: absolute;
        bottom: 16px;
        right: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        cursor: pointer;
        z-index: 3;
    }
}
.left-layer {
    position: absolute;
    width: 28%;
    height: 100%;
    background-image: linear-gradient(
        270deg,
        rgba(17, 19, 25, 0) 0%,
        rgba(17, 19, 25, 0.05) 16%,
        rgba(17, 19, 25, 0.2) 30%,
        rgba(17, 19, 25, 0.39) 43%,
        rgba(17, 19, 25, 0.61) 55%,
        rgba(17, 19, 25, 0.8) 68%,
        rgba(17, 19, 25, 0.95) 82%,
        rgb(17, 19, 25) 98%
    );
    z-index: 2;
    bottom: 0px;
}
.bottom-layer {
    position: absolute;
    width: 100%;
    height: 36%;
    background-image: linear-gradient(
        179deg,
        rgba(17, 19, 25, 0) 1%,
        rgba(17, 19, 25, 0.05) 17%,
        rgba(17, 19, 25, 0.2) 31%,
        rgba(17, 19, 25, 0.39) 44%,
        rgba(17, 19, 25, 0.61) 56%,
        rgba(17, 19, 25, 0.8) 69%,
        rgba(17, 19, 25, 0.95) 83%,
        rgb(17, 19, 25) 99%
    );
    z-index: 2;
    bottom: 0px;
}
.ccc {
    height: 300px;
}
.js-showing {
    visibility: visible;
    opacity: 1;
}
.js-hidden {
    visibility: hidden;
    opacity: 0;
}
