.page {
    color: #fff;
    &__top {
        position: relative;
        max-width: 1853px;
        display: flex;
        align-items: center;
        margin-left: auto;
        &::before {
            content: '';
            
        }
    }
}