.page {
    position: relative;
    color: #fff;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 80px;
        background-image: linear-gradient(
            180deg,
            #000,
            rgba(0, 0, 0, 0.43) 57%,
            transparent
        );
        z-index: 3;
    }
    &__top {
        max-width: 1853px;
        display: flex;
        margin-left: auto;
    }
    &__content {
        width: 43.6%;
        margin-top: 8%;
    }
    &__title {
        font-size: 40px;
        line-height: 1.2;
        font-weight: 800;
        text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 0px;
        @include lineClamp(2);
    }
    &__director,
    &__cast,
    &__desc {
        font-size: 16px;
        color: rgb(155, 169, 172);
        & * {
            color: #fff;
        }
    }
    &__desc {
        max-width: 720px;
        position: relative;
        @include lineClamp(3);
        &--btn {
            display: flex;
            position: absolute;
            right: 0;
            bottom: 0;
            margin-top: 6px;
            cursor: pointer;
        }
        &--cover {
            display: block;
            width: 32px;
            height: 24px;
            background-image: linear-gradient(
                90deg,
                rgba(17, 19, 25, 0) 0%,
                rgb(17, 19, 25) 100%
            );
        }
        &--morebtn {
            padding-left: 20px;
            font-size: 14px;
            font-weight: 600;
            color: rgb(28, 199, 73);
            text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 0px;
            background: rgb(17, 19, 25);
        }
        &--arrow {
            background: rgb(17, 19, 25);
            &
        }
        &--arrow i {
            font-size: 12px;
            margin-left: 4px;
            color: rgb(28, 199, 73);
        }
    }
    &__video {
        position: relative;
        width: 56.4%;
        height: 609.5px;
    }
    &__thumb {
        width: 100%;
        height: 100%;
        object-fit: fill;
        transition: 0.2s linear;
    }
    &__video--auto {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
        transition: 0.2s linear;
    }
    &__audio--open,
    &__audio--close {
        position: absolute;
        bottom: 52px;
        right: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        cursor: pointer;
        z-index: 3;
        & > * {
            font-size: 20px;
            color: #fff;
            pointer-events: none;
        }
    }
}
.left-layer {
    position: absolute;
    width: 28%;
    height: 100%;
    background-image: linear-gradient(
        270deg,
        rgba(17, 19, 25, 0) 0%,
        rgba(17, 19, 25, 0.05) 16%,
        rgba(17, 19, 25, 0.2) 30%,
        rgba(17, 19, 25, 0.39) 43%,
        rgba(17, 19, 25, 0.61) 55%,
        rgba(17, 19, 25, 0.8) 68%,
        rgba(17, 19, 25, 0.95) 82%,
        rgb(17, 19, 25) 98%
    );
    z-index: 2;
    bottom: 0px;
}
.bottom-layer {
    position: absolute;
    width: 100%;
    height: 36%;
    background-image: linear-gradient(
        179deg,
        rgba(17, 19, 25, 0) 1%,
        rgba(17, 19, 25, 0.05) 17%,
        rgba(17, 19, 25, 0.2) 31%,
        rgba(17, 19, 25, 0.39) 44%,
        rgba(17, 19, 25, 0.61) 56%,
        rgba(17, 19, 25, 0.8) 69%,
        rgba(17, 19, 25, 0.95) 83%,
        rgb(17, 19, 25) 99%
    );
    z-index: 2;
    bottom: 0px;
}
.ccc {
    height: 300px;
}
.js-showing {
    visibility: visible;
    opacity: 1;
}
.js-hidden {
    visibility: hidden;
    opacity: 0;
}
.js-none {
    display: none;
}
