.slider-wrapper {
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    background-color: #ccc;
    overflow: hidden;
}
.slider {
    width: max-content;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 36%;
        background-image: linear-gradient(
            180deg,
            transparent,
            rgba(0, 0, 0, 0.3) 25%,
            rgba(0, 0, 0, 0.6) 49%,
            #000
        );
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 80px;
        background-image: linear-gradient(
            180deg,
            #000,
            rgba(0, 0, 0, 0.43) 57%,
            transparent
        );
        z-index: 1;
    }
    &__item {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 200px;
        height: 300px;
        border-radius: 20px;
        background-position: 50% 50%;
        display: inline-block;
        transition: 0.5s;
        background-size: cover;
        box-shadow: 0 30px 50px #505050;
        cursor: pointer;
        &:nth-child(1),
        &:nth-child(2) {
            left: 0;
            top: 0;
            transform: translate(0, 0);
            border-radius: 0;
            width: 100%;
            height: 100%;
            box-shadow: none;
        }
        &:nth-child(3) {
            left: 60%;
        }
        &:nth-child(4) {
            left: calc(60% + 220px);
        }
        &:nth-child(5) {
            left: calc(60% + 440px);
        }
        &:nth-child(n + 6) {
            left: calc(60% + 660px);
            opacity: 0;
        }
        &:nth-child(2) .slider__content {
            display: block;
            z-index: 9999;
        }
    }
    &__content {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        max-width: 400px;
        color: #fff;
        display: none;
        font-family: system-ui;
    }
    &__name {
        font-size: 40px;
        font-weight: bold;
        opacity: 0;
        animation: showSliderContent 1s ease-in-out 1 forwards;
    }
    &__info {
        margin-top: 10px;
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        font-weight: normal;
        opacity: 0;
        animation: showSliderContent 1s ease-in-out 0.2s forwards;
    }
    &__icon,
    &__vote {
        color: rgb(28, 199, 73);
    }
    &__vote {
        padding: 4px;
    }
    &__line {
        width: 2px;
        height: 14px;
        margin: 0 10px;
        background-color: #eee;
        margin: 0 10px;
    }
    &__genre {
        margin: 10px 0;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: normal;
        opacity: 0;
        animation: showSliderContent 1s ease-in-out 0.3s forwards;
        & > * {
            margin-right: 6px;
            background: rgba(255, 255, 255, 0.08);
            border-radius: 2px;
            padding: 0px 6px;
        }
    }
    &__desc {
        font-size: 16px;
        font-weight: normal;
        opacity: 0;
        animation: showSliderContent 1s ease-in-out 0.4s forwards;
        @include lineClamp(4);
    }
    &__next,
    &__prev {
        position: absolute;
        color: #fff;
        font-size: 56px;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
    }
    &__prev {
        left: 14px;
    }
    &__next {
        right: 14px;
    }
}
@keyframes showSliderContent {
    from {
        opacity: 0;
        transform: translateY(10%);
        filter: blur(33px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

.movies {
    &__slider {
        position: relative;
        overflow: hidden;
        color: #fff;
        .container {
            margin: 0 55px;
        }
        &:first-child {
            // transform: translateY(-200px);
        }
    }
    &__category {
        margin-top: 45px;
        font-size: 2.8rem;
        font-weight: 600;
    }
    &__btn-next, &__btn-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 28px;
        color: #fff;
        opacity: 0.6;
        z-index: 222;
        cursor: pointer;
        height: 100%;
        &:hover {
            opacity: 1;
        }
        i {
            pointer-events: none;
        }
    }
    &__btn-next {
        right: 19px;
    }
    &__btn-prev {
        left: 19px;
    }
    &__wrapper {
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        margin-top: 22px; 
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__card {
        
        margin-right: 18px;
    }
    &__image {
        position: relative;
        width: 100%;
        height: 282px;
        border-radius: 6px;
        overflow: hidden;
    }
    &__thumb {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    &__layer {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 60px;
        background-image: linear-gradient(
            0deg,
            rgba(10, 12, 15, 0.8) 0%,
            rgba(10, 12, 15, 0.74) 4%,
            rgba(10, 12, 15, 0.59) 17%,
            rgba(10, 12, 15, 0.4) 34%,
            rgba(10, 12, 15, 0.21) 55%,
            rgba(10, 12, 15, 0.06) 78%,
            rgba(10, 12, 15, 0) 100%
        );
    }
    &__episodes {
        position: absolute;
        bottom: 10px;
        left: 8px;
        font-size: 14px;
        font-weight: 500;
        text-transform: capitalize;
    }
    &__title {
        padding: 10px 0;
        font-size: 1.6rem;
    }
}
