.slider-wrapper {
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    background-color: #ccc;
    overflow: hidden;
}
.slider {
    width: max-content;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 36%;
        background-image: linear-gradient(
            180deg,
            transparent,
            rgba(0, 0, 0, 0.3) 25%,
            rgba(0, 0, 0, 0.6) 49%,
            #000
        );
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 80px;
        background-image: linear-gradient(
            180deg,
            #000,
            rgba(0, 0, 0, 0.43) 57%,
            transparent
        );
        z-index: 1;
    }
    &__item {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 200px;
        height: 300px;
        border-radius: 20px;
        background-position: 50% 50%;
        display: inline-block;
        transition: 0.5s;
        background-size: cover;
        box-shadow: 0 30px 50px #505050;
        cursor: pointer;
        &:nth-child(1),
        &:nth-child(2) {
            left: 0;
            top: 0;
            transform: translate(0, 0);
            border-radius: 0;
            width: 100%;
            height: 100%;
            box-shadow: none;
        }
        &:nth-child(3) {
            left: 60%;
        }
        &:nth-child(4) {
            left: calc(60% + 220px);
        }
        &:nth-child(5) {
            left: calc(60% + 440px);
        }
        &:nth-child(n + 6) {
            left: calc(60% + 660px);
            opacity: 0;
        }
    }
    &__content {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        max-width: 700px;
        color: #fff;
        display: none;
        font-family: system-ui;
    }

}

.slider__content {
    
}
.slider__item:nth-child(2) .slider__content {
    display: block;
    z-index: 9999;
}
.slider__name {
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    animation: showSliderContent 1s ease-in-out 1 forwards;
}
.slider__info {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    font-weight: normal;
    opacity: 0;
    animation: showSliderContent 1s ease-in-out 0.2s forwards;
}
.slider__icon,
.slider__vote {
    color: rgb(28, 199, 73);
}
.slider__vote {
    padding: 4px;
}
.slider__line {
    width: 2px;
    height: 14px;
    margin: 0 10px;
    background-color: #eee;
    margin: 0 10px;
}
.slider__genre {
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: normal;
    opacity: 0;
    animation: showSliderContent 1s ease-in-out 0.3s forwards;
}
.slider__genre > * {
    margin-right: 6px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 2px;
    padding: 0px 6px;
}
.slider__desc {
    font-size: 16px;
    font-weight: normal;
    opacity: 0;
    animation: showSliderContent 1s ease-in-out 0.4s forwards;
}
@keyframes showSliderContent {
    from {
        opacity: 0;
        transform: translateY(10%);
        filter: blur(33px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}
.slider__next,
.slider__prev {
    position: absolute;
    color: #fff;
    font-size: 56px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}
.slider__prev {
    left: 14px;
}
.slider__next {
    right: 14px;
}
.ccc {
    background: #000;
    height: 100000px;
}
