.slider-wrapper {
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    background-color: #ccc;
}
.slider {
    width: max-content;
}
.slider__item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(https://image.tmdb.org/t/p/original/4XM8DUTQb3lhLemJC51Jx4a2EuA.jpg);
    width: 200px;
    height: 300px;
    border-radius: 20px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    box-shadow: 0 30px 50px #505050;
}
.item:nth-child(1), 
.item:nth-child(2) {
    left: 0;
    top: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box
}
.ccc {
    background: #000;
    height: 100000px;
}