section.page 
    section.page__top
        section.page__content
            h2.page__title My Love
            .slider__info
                i.fas.fa-star.slider__icon
                .slider__vote 8.7
                .slider__line
                .slider__date 2021
            .slider__genre 
                .slider__genre--1 Chinese Mainland
                .slider__genre--2 Romance
                .slider__genre--3 Drama 
                .slider__genre--3 Youth 
                .slider__genre--3 School Life 
            h2.page__director Director: 
                a(href='#!').page__director--data Han Tian
            h2.page__cast Cast: 
                a(href='#!').page__director--data Xu Guanghan 
                a(href='#!').page__director--data Zhang Ruo Nan 
                a(href='#!').page__director--data Ding Guan Sen
            h2.page__desc Description:
                span The film tells the 15-year love story of swimming talent Zhou Xiaoqi and transferred student You Yongci. In high school, Zhou Xiaoqi (Greg Hsu) fell in love with You Yongci (Zhang Ruonan) at first sight. Innocent and pure love in youth, the boy watched over the girl silently but she left without telling. A 15-year love story followed. Your wedding is also my coming-of-age ceremony.

                .page__desc--btn
                    .page__desc--cover
                    .page__desc--morebtn More
                    .page__desc--arrow
                        i.fas.fa-angle-down
        section.page__video
            img.page__thumb(src = 'https://pic6.iqiyipic.com/image/20210630/a7/76/v_160307079_m_601_en_1013_569.webp')
            video.page__video--auto.js-hidden(src = "../images/trailerm.mp4")
            .page__audio--open.js-none
                <i class="far fa-volume-up"></i>
            .page__audio--close.js-none
                <i class="far fa-volume-slash"></i>
            .left-layer 
            .bottom-layer
    .container
        section.page__bottom    
            section.page__tab
                .page__tab--list 
                    .page__item(data-tab = 1).tab-active Episodes 
                    .page__item(data-tab = 2)  Highlights 
                    .page__item(data-tab = 3)  Cast
                    .page__item(data-tab = 4)  Recommended
                .page__tab--wrapper
                    .page__tab--content.tab-content-active(data-tab = 1)
                        .page__card--wrapper
                            .page__card
                                .page__card-img
                                    img.page__card-thumb(src = "https://pic9.iqiyipic.com/image/20210702/4d/07/v_160335892_m_601_zh-CN_m3_284_160.jpg")
                                    .movies__layer
                                    .movies__page
                                        i.fas.fa-play
                                .page__card-title My love

                    .page__tab--content(data-tab = 2)
                        .page__card--wrapper
                            .page__card
                                        .page__card-img
                                            img.page__card-thumb(src = "https://pic9.iqiyipic.com/image/20210702/4d/07/v_160335892_m_601_zh-CN_m3_284_160.jpg")
                                            .movies__layer
                                            .update-info-mask 01:56
                                            .movies__page
                                                i.fas.fa-play
                                        .page__card-title My love
                            
                    .page__tab--content(data-tab = 3)
                        h3.post-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam modi magnam obcaecati rem aspernatur ratione reiciendis nulla fuga laborum velit.lorem2
                    .page__tab--content(data-tab = 4)
                        h3.post-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam modi magnam obcaecati rem aspernatur ratione reiciendis nulla fuga laborum velit.lorem3
