section.slider-wrapper 
    .slider 
        a.slider__item(href = "pages.html" style="background-image: url(https://image.tmdb.org/t/p/original/Ab8mkHmkYADjU7wQiOkia9BzGvS.jpg);")
            .slider__content
                .slider__name Spirited Away
                .slider__info
                    i.fas.fa-star.slider__icon
                    .slider__vote 8.5
                    .slider__line
                    .slider__date 2001
                .slider__genre 
                    .slider__genre--1 Japan
                    .slider__genre--2 Family
                .slider__desc A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her parents undergo a mysterious transformation, she must call upon the courage she never knew she had to free her family.
        a.slider__item(href = "pages.html" style="background-image: url(https://image.tmdb.org/t/p/original/4HodYYKEIsGOdinkGi2Ucz6X9i0.jpg);")
            .slider__content
                .slider__name Spider-Man: Across the Spider-Verse
                .slider__info
                    i.fas.fa-star.slider__icon
                    .slider__vote 8.7
                    .slider__line
                    .slider__date 2023
                .slider__genre 
                    .slider__genre--1 English
                    .slider__genre--2 War
                .slider__desc Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.
        a.slider__item(href = "pages.html" style="background-image: url(https://image.tmdb.org/t/p/original/gwj4R8Uy1GwejKqfofREKI9Jh7L.jpg);")
            .slider__content
                .slider__name Grave of the Fireflies
                .slider__info
                    i.fas.fa-star.slider__icon
                    .slider__vote 8.5
                    .slider__line
                    .slider__date 1988
                .slider__genre 
                    .slider__genre--1 Japan
                    .slider__genre--2 Family
                .slider__desc In the final months of World War II, 14-year-old Seita and his sister Setsuko are orphaned when their mother is killed during an air raid in Kobe, Japan. After a falling out with their aunt, they move into an abandoned bomb shelter. With no surviving relatives and their emergency rations depleted, Seita and Setsuko struggle to survive.
        a.slider__item(href = "pages.html" style="background-image: url(https://image.tmdb.org/t/p/original/dIWwZW7dJJtqC6CgWzYkNVKIUm8.jpg);")
            .slider__content
                .slider__name Your Name
                .slider__info
                    i.fas.fa-star.slider__icon
                    .slider__vote 8.7
                    .slider__line
                    .slider__date 2016  
                .slider__genre 
                    .slider__genre--1 Japan
                    .slider__genre--2 Love
                .slider__desc All unemployed, Ki-taek's family takes peculiar interest in the wealthy and glamorous Parks for their livelihood until they get entangled in an unexpected incident.
        a.slider__item(href = "pages.html" style="background-image: url(https://image.tmdb.org/t/p/original/hiKmpZMGZsrkA3cdce8a7Dpos1j.jpg);")
            .slider__content
                .slider__name Parasite
                .slider__info
                    i.fas.fa-star.slider__icon
                    .slider__vote 8.4
                    .slider__line
                    .slider__date 2019
                .slider__genre 
                    .slider__genre--1 Korea
                    .slider__genre--2 Family
                .slider__desc Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.
    button.slider__prev
        i.fas.fa-chevron-left
    button.slider__next
        i.fas.fa-chevron-right

section.movies__slider
    h2.movies__category Popular on MiTom
    button.movies__btn-prev 
        i.fas.fa-chevron-left
    button.movies__btn-next
        i.fas.fa-chevron-right
    .movies__wrapper
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "https://image.tmdb.org/t/p/original/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg")
                .movies__layer
                    p.movies__episodes 1 episodes
            p.movies__title Spirited Away
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "https://image.tmdb.org/t/p/original/8Vt6mWEReuy4Of61Lnj5Xj704m8.jpg")
                .movies__layer
                    p.movies__episodes 1 episodes
            p.movies__title Spider-Man: Across the Spider-Verse
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "https://image.tmdb.org/t/p/original/k9tv1rXZbOhH7eiCk378x61kNQ1.jpg")
                .movies__layer
                    p.movies__episodes 1 episodes
            p.movies__title Grave of the Fireflies
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "https://image.tmdb.org/t/p/original/q719jXXEzOoYaps6babgKnONONX.jpg")
                .movies__layer
                    p.movies__episodes 1 episodes
            p.movies__title Your Name
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "https://pic5.iqiyipic.com/image/20230413/b2/be/a_100432281_m_601_en_260_360.webp")
                .movies__layer
                    p.movies__episodes 131 episodes
            p.movies__title Dragon Ball Super
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "//pic5.iqiyipic.com/image/20210629/0d/8d/a_100455595_m_601_zh-CN_m1_260_360.webp")
                .movies__layer
                    p.movies__episodes 39 episodes
            p.movies__title Pretty Guardian Sailor Moon Crystal
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "//pic0.iqiyipic.com/image/20230809/f2/2e/a_100421840_m_601_en_m3_260_360.webp")
                .movies__layer
                    p.movies__episodes Updated 1077 episodes
            p.movies__title One Piece
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "//pic2.iqiyipic.com/image/20201031/64/01/a_100426612_m_601_en_260_360.webp")
                .movies__layer
                    p.movies__episodes 25 Episodes
            p.movies__title Haikyu!!TO THE TOP
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "//pic3.iqiyipic.com/image/20230922/08/5e/a_100543682_m_601_en_m1_260_360.webp")
                .movies__layer
                    p.movies__episodes Updated to 3
            p.movies__title Against the Gods
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "//pic3.iqiyipic.com/image/20230407/24/ce/a_100532314_m_601_en_260_360.webp")
                .movies__layer
                    p.movies__episodes Updated to 11
            p.movies__title Demon Slayer: Kimetsu no Yaiba Swordsmith Village Arc
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "https://pic9.iqiyipic.com/image/20210812/10/4d/a_100464174_m_601_en_260_360.webp")
                .movies__layer
                    p.movies__episodes 104 Episodes
            p.movies__title Naruto 
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "https://pic9.iqiyipic.com/image/20211102/7e/60/a_100482394_m_601_en_m1_260_360.webp")
                .movies__layer
                    p.movies__episodes Updated to 148
            p.movies__title Hunter x Hunter
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "https://pic2.iqiyipic.com/image/20220705/06/9d/a_100506868_m_601_en_m1_260_360.webp")
                .movies__layer
                    p.movies__episodes Updated to 445
            p.movies__title Crayon Shin-chan
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "https://pic3.iqiyipic.com/image/20201022/51/af/a_100426783_m_601_en_260_360.webp")
                .movies__layer
                    p.movies__episodes 24 Episodes
            p.movies__title JUJUTSU KAISEN
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "https://pic4.iqiyipic.com/image/20210121/5f/15/a_100444857_m_601_zh-CN_260_360.webp")
                .movies__layer
                    p.movies__episodes Updated to 179
            p.movies__title The  Legend of  Sky Lord
            .movies__play 
                i.fas.fa-play

//- watching
.movies__slider
    h2.movies__category Continue Watching
    section.contiune-watching.page__card--wrapper
        .page__card.movies-card
            .page__card-img
                img.page__card-thumb(src = "https://www.iqiyipic.com/lequ/20220616/continue-bg.png")
                .movies__layer
                .card__continue
                    .card__desc Synchronize multi device viewing history
                    .card__login Login

section.movies__slider
    h2.movies__category Top Picks for you
    button.movies__btn-prev 
        i.fas.fa-chevron-left
    button.movies__btn-next
        i.fas.fa-chevron-right
    .movies__wrapper
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "https://pic8.iqiyipic.com/image/20200930/42/2b/a_100400810_m_601_en_m1_260_360.webp")
                .movies__layer
                    p.movies__episodes 48 episodes
            p.movies__title Legend of Awakenning
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "https://pic8.iqiyipic.com/image/20200930/42/2b/a_100400810_m_601_en_m1_260_360.webp")
                .movies__layer
                    p.movies__episodes 48 episodes
            p.movies__title Legend of Awakenning
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "https://pic8.iqiyipic.com/image/20200930/42/2b/a_100400810_m_601_en_m1_260_360.webp")
                .movies__layer
                    p.movies__episodes 48 episodes
            p.movies__title Legend of Awakenning
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "https://pic8.iqiyipic.com/image/20200930/42/2b/a_100400810_m_601_en_m1_260_360.webp")
                .movies__layer
                    p.movies__episodes 48 episodes
            p.movies__title Legend of Awakenning
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "https://pic8.iqiyipic.com/image/20200930/42/2b/a_100400810_m_601_en_m1_260_360.webp")
                .movies__layer
                    p.movies__episodes 48 episodes
            p.movies__title Legend of Awakenning
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "https://pic8.iqiyipic.com/image/20200930/42/2b/a_100400810_m_601_en_m1_260_360.webp")
                .movies__layer
                    p.movies__episodes 48 episodes
            p.movies__title Legend of Awakenning
            .movies__play 
                i.fas.fa-play


section.movies__slider
    h2.movies__category Only for VIP
    button.movies__btn-prev 
        i.fas.fa-chevron-left
    button.movies__btn-next
        i.fas.fa-chevron-right
    .movies__wrapper
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "https://pic8.iqiyipic.com/image/20200930/42/2b/a_100400810_m_601_en_m1_260_360.webp")
                .movies__layer
                    p.movies__episodes 48 episodes
            p.movies__title Legend of Awakenning
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "https://pic8.iqiyipic.com/image/20200930/42/2b/a_100400810_m_601_en_m1_260_360.webp")
                .movies__layer
                    p.movies__episodes 48 episodes
            p.movies__title Legend of Awakenning
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "https://pic8.iqiyipic.com/image/20200930/42/2b/a_100400810_m_601_en_m1_260_360.webp")
                .movies__layer
                    p.movies__episodes 48 episodes
            p.movies__title Legend of Awakenning
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "https://pic8.iqiyipic.com/image/20200930/42/2b/a_100400810_m_601_en_m1_260_360.webp")
                .movies__layer
                    p.movies__episodes 48 episodes
            p.movies__title Legend of Awakenning
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "https://pic8.iqiyipic.com/image/20200930/42/2b/a_100400810_m_601_en_m1_260_360.webp")
                .movies__layer
                    p.movies__episodes 48 episodes
            p.movies__title Legend of Awakenning
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "https://pic8.iqiyipic.com/image/20200930/42/2b/a_100400810_m_601_en_m1_260_360.webp")
                .movies__layer
                    p.movies__episodes 48 episodes
            p.movies__title Legend of Awakenning
            .movies__play 
                i.fas.fa-play
        a.movies__card(href = "pages.html")
            .movies__image 
                img.movies__thumb(src = "https://pic8.iqiyipic.com/image/20200930/42/2b/a_100400810_m_601_en_m1_260_360.webp")
                .movies__layer
                    p.movies__episodes 48 episodes
            p.movies__title Legend of Awakenning
            .movies__play 
                i.fas.fa-play
            