block mixins
	include ../blocks/mixins
block vars
	-title = 'anime'
	-bodyClass = ''

doctype html
html(lang="en")
	head
		block head 
			include ../blocks/head
	body(class=bodyClass)
		.title Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati reiciendis accusamus optio consequuntur corporis praesentium modi earum aspernatur assumenda nihil!
		//- .wrapper
		//- 	block header
		//- 		include ../blocks/header
		//- 	block container
		//- 	block footer
		//- 		include ../blocks/footer
		//- 	block script
		//- 		include ../blocks/scripts