@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-family: "SF Pro", sans-serif;
}

.container {
  max-width: calc(100% - 56px);
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: fixed;
  padding: 1.8rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 22;
  height: 7.2rem;
  transition: background-color 0.5s linear 0s;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__right {
  display: flex;
  margin-left: auto;
}
.header__search--delete {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.6rem;
  color: #cccccc;
  cursor: pointer;
  right: 5.6rem;
  display: none;
}
.header__search--btn {
  position: absolute;
  top: 50%;
  right: 1.4rem;
  transform: translateY(-50%);
  cursor: pointer;
}
.header__search--btn:hover i {
  color: #00dc5a;
}
.header__search--btn i {
  font-size: 1.6rem;
  color: #fff;
}
.header__overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  pointer-events: none;
  display: none;
}
.header__logo {
  margin-right: -0.8rem;
}
.header__logo--link {
  line-height: 3.7rem;
  font-size: 3rem;
  font-weight: 780;
  color: transparent;
  background-image: linear-gradient(to right, #00dc5a, #49d26d);
  -webkit-background-clip: text;
}
.header__navs {
  display: flex;
}
.header__item {
  font-size: 1.6rem;
  margin-left: 4.1rem;
}
.header__item:first-child .header__item--link {
  font-weight: 700;
  opacity: 1;
}
.header__item--link {
  font-weight: 500;
  color: #fff;
  opacity: 0.6;
}
.header__item--link:hover {
  color: #00dc5a;
  opacity: 2.5;
}
.header__form {
  display: flex;
  position: relative;
}
.header__form > input {
  width: 24rem;
  height: 3.6rem;
  padding: 0 5.3rem 0 1.2rem;
  border-radius: 0.4rem;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.5);
  border: none;
  font-size: 1.4rem;
}
.header__lists, .header__lists--data {
  position: absolute;
  top: 5.5rem;
  left: 0;
  right: -0.2rem;
  padding: 0.8rem 0;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 0.4rem;
  background: #1a1c22;
  display: none;
}
.header__lists {
  counter-reset: custom-counter; /* Đặt giá trị ban đầu cho biến đếm */
}
.header .line {
  position: absolute;
  top: 50%;
  right: 4.8rem;
  transform: translateY(-50%);
  width: 0.1rem;
  height: 1.8rem;
  background: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}
.header__hotSearch {
  gap: 0.8rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  color: #fff;
}
.header__hotSearch:nth-child(-n+4)::before {
  color: rgb(28, 199, 73);
}
.header__hotSearch::before {
  font-weight: 700;
  counter-increment: custom-counter; /* Tăng giá trị biến đếm */
  content: counter(custom-counter); /* Chỉ hiển thị số thứ tự */
}
.header__hotSearch:hover::before {
  color: rgb(28, 199, 73);
}
.header__hotSearch, .header__searchs {
  padding: 1.4rem 1.6rem;
  cursor: pointer;
}
.header__hotSearch:hover, .header__searchs:hover {
  background: rgba(255, 255, 255, 0.1);
}
.header__hotSearch:hover .header__hotSearch--link,
.header__hotSearch:hover .header__searchs--link, .header__searchs:hover .header__hotSearch--link,
.header__searchs:hover .header__searchs--link {
  color: #00dc5a;
  opacity: 2.5;
}
.header__hotSearch--title, .header__searchs--title {
  padding: 0.8rem 1.6rem 0.6rem;
  font-size: 1.2rem;
  color: rgb(153, 153, 153);
}
.header__hotSearch--link, .header__searchs--link {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.4rem;
  color: rgb(204, 204, 204);
}
.header__icons {
  position: relative;
  display: flex;
}
.header__icons > * {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 2.4rem;
  cursor: pointer;
}
.header__icons > *:not(:last-child) {
  flex-direction: column;
}
.header__icons > * i {
  font-size: 2rem;
}
.header__icons > *:first-child .header__text {
  font-style: italic;
}
.header__icons > * .header__text {
  font-size: 1.2rem;
  transform: translateY(5px);
}
.header__login {
  top: 5.2rem;
  position: absolute;
  width: 280px;
  background: rgb(26, 28, 34);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.4rem;
  padding: 1.6rem;
  text-align: center;
  display: none;
}
.header__login::after {
  position: absolute;
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  background-color: rgb(26, 28, 34);
  top: -1px;
  left: 50%;
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px 0px 0px;
  transform: translate(-50%, -50%) rotate(45deg);
}
.header__login::before {
  position: absolute;
  top: -1.2rem;
  left: 0;
  content: "";
  width: 100%;
  height: 1.2rem;
  background: transparent;
}
.header__login--text {
  font-size: 1.3rem;
  color: rgb(169, 169, 172);
}
.header__login--btn {
  display: inline-block;
  min-width: 10.8rem;
  margin-top: 1.6rem;
  padding: 0 12px;
  background: rgb(28, 199, 73);
  border-radius: 4px;
  line-height: 30px;
  font-size: 1.3rem;
}
.header__login--btn:hover {
  background: rgb(73, 210, 109);
}
.header__history {
  margin-left: 2rem;
}
.header__history:hover {
  color: #00dc5a;
}
.header__user:hover .header__login {
  display: block;
}
.header__user:hover > *:not(:last-child) {
  color: #00dc5a;
}
.header__vip {
  position: relative;
  width: 8.2rem;
  height: 3.6rem;
  background-color: rgb(242, 191, 131);
  border-radius: 0.4rem;
  color: #1a1c22;
  font-weight: 900;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
  font-size: 1.4rem;
  margin-left: 2rem;
}
.header__vip:hover {
  background: rgb(244, 203, 155);
}

.modalLogin {
  font-family: "Microsoft Jhenghei", "Heiti TC", "PingFang TC", sans-serif;
  position: relative;
  width: 400px;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  z-index: 3;
}
.modalLogin__title {
  font-size: 1.8rem;
  color: #222;
  font-weight: 700;
  margin-bottom: 1.6rem;
  text-align: center;
}
.modalLogin__btn, .modalLogin__forgotPassword {
  margin-top: 1.8rem;
  padding: 0 1.6rem;
  color: #fff;
  background: #00cc36;
  width: 100%;
  height: 44px;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}
.modalLogin__forgotPassword {
  color: #00cc36;
  background: #fff;
}
.modalLogin__desc {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalLogin__SignUp {
  padding: 0 8px;
  color: #00cc36;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
}
.modalLogin__wrapper {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  transition: border-color 0.3s;
  margin-bottom: 16px;
}
.modalLogin input {
  font-family: inherit;
  padding: 0 12px 12px;
  border: 0;
  border-top: 27px solid transparent;
  width: 100%;
  height: 60px;
  font-size: 1.6rem;
  color: #222;
  font-weight: 600;
  outline: none;
}
.modalLogin input:focus + label, .modalLogin input:not(:placeholder-shown) + label {
  translate: 0 -24px;
  font-size: 1.3rem;
}
.modalLogin label {
  position: absolute;
  top: 50%;
  left: 13px;
  translate: 0 -50%;
  font-size: 1.6rem;
  color: rgba(34, 34, 34, 0.5882352941);
  font-weight: 600;
  pointer-events: none;
  transition: translate 0.3s;
}
.modalLogin__input--email, .modalLogin__input--password {
  position: relative;
}
.modalLogin__email--error, .modalLogin__email--error2, .modalLogin__password--error {
  display: none;
  color: #fe685f;
  font-size: 1.2rem;
}
.modalLogin__email--error, .modalLogin__email--error2 {
  padding: 0 0 16px;
}

.modal-close {
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  cursor: pointer;
}

.primary {
  color: #00dc5a;
  opacity: 2.5;
}

.hidden-padding {
  padding: 0;
}

.focus {
  border-color: #00cc36;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.js-show {
  display: block;
}

.hidden-scroll {
  overflow: hidden;
}

.slider-wrapper {
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  background-color: #ccc;
  overflow: hidden;
}

.slider {
  width: max-content;
}
.slider::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 36%;
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0.6) 49%, #000);
}
.slider::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  background-image: linear-gradient(180deg, #000, rgba(0, 0, 0, 0.43) 57%, transparent);
  z-index: 1;
}
.slider__item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  height: 300px;
  border-radius: 20px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  box-shadow: 0 30px 50px #505050;
  cursor: pointer;
}
.slider__item:nth-child(1), .slider__item:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
}
.slider__item:nth-child(3) {
  left: 60%;
}
.slider__item:nth-child(4) {
  left: calc(60% + 220px);
}
.slider__item:nth-child(5) {
  left: calc(60% + 440px);
}
.slider__item:nth-child(n+6) {
  left: calc(60% + 660px);
  opacity: 0;
}
.slider__item:nth-child(2) .slider__content {
  display: block;
  z-index: 9999;
}
.slider__content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  max-width: 400px;
  color: #fff;
  display: none;
  font-family: system-ui;
}
.slider__name {
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  animation: showSliderContent 1s ease-in-out 1 forwards;
}
.slider__info {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: normal;
  opacity: 0;
  animation: showSliderContent 1s ease-in-out 0.2s forwards;
}
.slider__icon, .slider__vote {
  color: rgb(28, 199, 73);
}
.slider__vote {
  padding: 4px;
}
.slider__line {
  width: 2px;
  height: 14px;
  margin: 0 10px;
  background-color: #eee;
  margin: 0 10px;
}
.slider__genre {
  margin: 10px 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: normal;
  opacity: 0;
  animation: showSliderContent 1s ease-in-out 0.3s forwards;
}
.slider__genre > * {
  margin-right: 6px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 2px;
  padding: 0px 6px;
}
.slider__desc {
  font-size: 16px;
  font-weight: normal;
  opacity: 0;
  animation: showSliderContent 1s ease-in-out 0.4s forwards;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.slider__next, .slider__prev {
  position: absolute;
  color: #fff;
  font-size: 56px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}
.slider__prev {
  left: 14px;
}
.slider__next {
  right: 14px;
}

@keyframes showSliderContent {
  from {
    opacity: 0;
    transform: translateY(10%);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
.ccc {
  background: #000;
  height: 100000px;
}

img {
  height: 200vh;
  width: 100vw;
  object-fit: cover;
}