footer.footer 
    .footer__top
        section.footer__about About MiTom
            a.about_us(href="#!") About us 
            a.about_us(href="#!") Products and Services 
            a.about_us(href="#!") Way to Watch
        section.footer__help Help and support 
            a.security(href="#!") Security Response Center
            a.faq(href="#!") FAQ
        section.footer__service Terms of Service 
            a.policy(href="#!") Privacy Policy 
            a.service(href="#!") Terms of Service 
    .footer__bottom 
        section.copyright 
            p Copyright @ 2023 MiTom All Rights Reserved 
            p We use cookies to improve your experience on this site. By continuing to use our website, you agree to our use of cookies.
        section.icon-group
            a.facebook(href="#!")
                i.fab.fa-facebook-squra
            a.facebook(href="#!")
                i
            a.facebook(href="#!")
                i
