footer.footer 
    .footer__container
        section.footer__about About MiTom
            a.about_us(href="#!") About us 
            a.about_us(href="#!") Products and Services 
            a.about_us(href="#!") Way to Watch
        section.footer__help Help and support 
            a.faq(href)
