header.header
  .container
    .row 
      .col-6 colxl
        .header__left
          .header__logo
            a.header__logo--link(href="#!") MITOM
          ul.header__navs
            +tabLink({
              title : "For you",
              href: "#!"
            })
            +tabLink({
              title : "Drama",
              href: "#!"
            })
            +tabLink({
              title : "Movie",
              href: "#!"
            })
            +tabLink({
              title : "Anime",
              href: "#!"
            })
      .col-6
        .header__right
          form.header__search
            .header__form 
              input.header__input(type='text' placeholder = 'One Piece')
              i.fa.fa-times-circle.header__search--delete
              button.header__search--btn
                i.far.fa-search
              span.line
              .header__lists--data
              .header__lists
                .header__hotSearch--title Popular Searches
              .header__search--overlay
          .header__icons
            .header__history 
              i.far.fa-history
              .header__text History
            .header__user
              i.far.fa-user
              .header__text Me
            .header__vip 
              i.far.fa-crown
              span VIP
      //- .col-2 
      //- .col-1 
      //-   .header-vip 

