header.header
  .container
    .header__container 
      .header__logo
        a.header__logo--link(href="#!") MITOM
      ul.header__navs
        +tabLink({
          title : "For you",
          href: "#!"
        })
        +tabLink({
          title : "Drama",
          href: "#!"
        })
        +tabLink({
          title : "Movie",
          href: "#!"
        })
        +tabLink({
          title : "Anime",
          href: "#!"
        })
      .header__right
        form.header__search
          .header__form 
            input.header__input(type='text' placeholder = 'One Piece')
            i.fa.fa-times-circle.header__search--delete
            button.header__search--btn
              i.far.fa-search
            span.line
            .header__lists--data
            .header__lists
              .header__hotSearch--title Popular Searches
        .header__icons
          .header__history 
            i.far.fa-history
            .header__text History
          .header__user
            i.far.fa-user
            .header__text Me
            .header__login  
              p.header__login--text Login to watch trendy content 
              .header__login--btn Login
          .header__vip 
            i.far.fa-crown
            span VIP
  .header__search--overlay
      //- .col-2 
      //- .col-1 
      //-   .header-vip 

