section.page 
    section.page__top
        section.page__content
            h2.page__title Reply 1988-LEE HYE RI

        .page__video
            img.page__thumb(src = 'https://pic1.iqiyipic.com/image/20210206/16/19/a_100379195_m_601_en_m3_1013_569.webp')
            video.page__video--auto(src = "https://www.pexels.com/video/2499611/" a)