section.page 
    section.page__top
        section.page__content
            h2.page__title Reply 1988 - LEE HYE RI
            .slider__info
                .slider__vote 8.7
                .slider__line
                .slider__date 1972-03-14
            .slider__genre 
                .slider__genre--1 War
                .slider__genre--2 Family
            h3.page__director Director: 
                a(href='').page__director--data Shen Yuan Hao
            h3.page__cast Cast: 
                a(href='').page__director--data Lee Hye-Ri
                a(href='').page__director--data Park Bo Gum
                a(href='').page__director--data Jin Cheng
            h3.page__desc Description:
                span Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge. It will focus on the variety of families of the year with an alleyway as the setting. Sung Dong-Il and Lee Il-Hwa will reprise their roles as the parents. Girl’s Day Hyeri, Park Bo-Gum, Ryu Hye-Young, Ryu Jun-Yeol, Ahn Jae-Hong, Lee Dong-Hwi, and Choi Sung-Won will join the new cast as the main characters.Ahn Jae-Hong, Lee Dong-Hwi, and Choi Sung-Won will join the new cast as the main characters
                .page__desc--btn
                    .page__desc--cover
                    .page__desc--morebtn More
                    .page__desc--arrow
                        i.fas.fa-angle-down
        section.page__video
            img.page__thumb(src = 'https://pic1.iqiyipic.com/image/20210206/16/19/a_100379195_m_601_en_m3_1013_569.webp')
            video.page__video--auto.js-hidden(src = "../images/trailer.mp4")
            .page__audio--open.js-none
                <i class="far fa-volume-up"></i>
            .page__audio--close.js-none
                <i class="far fa-volume-slash"></i>
            .left-layer 
            .bottom-layer
    section.page__bottom    
        section.page__tab
            .page__tab--list 
                .page__item Episodes 
                .page__item Episodes 
                .page__item Episodes 
                .page__item Episodes 