section.slider-wrapper 
    .slider 
        .slider__item
            .slider__content
                .slider__name The Godfather
                .slider__info
                    .slider__vote 8.7
                    .slider__date 1972-03-14
                .slider__genre 
                    .slider__genre--1 18
                    .slider__genre--1 18
                .slider__desc