section.slider-wrapper 
    .slider 
        .slider__item
            .slider__content
                .slider__name The Godfather
                .slider__info
                    .slider__vote 8.7
                    .slider__date 1972-03-14
                .slider__genre 
                    .slider__genre--1 War
                    .slider__genre--2 Family
                .slider__desc Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.
        .slider__item
            .slider__content
                .slider__name The Godfather
                .slider__info
                    .slider__vote 8.7
                    .slider__date 1972-03-14
                .slider__genre 
                    .slider__genre--1 War
                    .slider__genre--2 Family
                .slider__desc Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.
        .slider__item
            .slider__content
                .slider__name The Godfather
                .slider__info
                    .slider__vote 8.7
                    .slider__date 1972-03-14
                .slider__genre 
                    .slider__genre--1 War
                    .slider__genre--2 Family
                .slider__desc Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.
        
.ccc