section.slider-wrapper 
    .slider 
        .slider__item
            .slider__content
                .slider__name 
                .slider__info
                    .slider__vote
                    .slider__date
                .slider__genre
                .slider__desc