section.slider-wrapper 
    .slider 
        .slider__item(style="background-image: url(https://image.tmdb.org/t/p/original/Ab8mkHmkYADjU7wQiOkia9BzGvS.jpg);")
            .slider__content
                .slider__name The Godfather
                .slider__info
                    .slider__vote 8.7
                    .slider__line
                    .slider__date 1972-03-14
                .slider__genre 
                    .slider__genre--1 War
                    .slider__genre--2 Family
                .slider__desc Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.
                .slider__play 
                    i.fas.fa-play 
                .slider__bookmark 
                    i.far.fa-bookmark
        .slider__item(style="background-image: url(https://image.tmdb.org/t/p/original/tmU7GeKVybMWFButWEGl2M4GeiP.jpg);")
            .slider__content
                .slider__name The Shawshank Redemption
                .slider__info
                    i.fas.fa-star.slider__icon
                    .slider__vote 8.7
                    .slider__line
                    .slider__date 1994-09-23
                .slider__genre 
                    .slider__genre--1 123
                    .slider__genre--2 456
                .slider__desc Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.
                .slider__bottom
                    .slider__play 
                        i.fas.fa-play 
                    .slider__bookmark 
                        <svg width="60px" height="60px" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="Btn/Add/Normal" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><circle id="bg" fill-opacity="0.8" fill="#FFFFFF" cx="30" cy="30" r="30"></circle><path d="M29.3055556,17.25 C29.6890866,17.25 30,17.5609134 30,17.9444444 L30,19.3888889 C30,19.77242 29.6890866,20.0833333 29.3055556,20.0833333 L22.9166667,20.0833333 L22.9166667,39.724 L28.6396082,34.9562398 C29.3713667,34.346441 30.4106369,34.302884 31.1863257,34.8255686 L31.3603918,34.9562398 L37.0833333,39.7254167 L37.0833333,33.5277778 C37.0833333,33.1442467 37.3942467,32.8333333 37.7777778,32.8333333 L39.2222222,32.8333333 C39.6057533,32.8333333 39.9166667,33.1442467 39.9166667,33.5277778 L39.9166667,41.2376789 C39.9166667,42.4112764 38.9652794,43.3627321 37.7916667,43.3627321 C37.3655561,43.3627321 36.9510168,43.2346313 36.6007867,42.9976358 L36.4312748,42.8701491 L30,37.50975 L23.5687252,42.8701491 C22.7234861,43.574515 21.4929682,43.5114751 20.7233835,42.7579578 L20.5758631,42.5980707 C20.3030814,42.2707327 20.1360669,41.8703014 20.0939154,41.4495208 L20.0833333,41.2376789 L20.0833333,20.0833333 C20.0833333,18.5896541 21.2391602,17.3659327 22.7052117,17.2577715 L22.9166667,17.25 L29.3055556,17.25 Z M39.2222222,17.25 C39.6057533,17.25 39.9166667,17.5609134 39.9166667,17.9444444 L39.9163333,21.499 L43.4722222,21.5 C43.8557533,21.5 44.1666667,21.8109134 44.1666667,22.1944444 L44.1666667,23.6388889 C44.1666667,24.02242 43.8557533,24.3333333 43.4722222,24.3333333 L39.9163333,24.333 L39.9166667,27.8888889 C39.9166667,28.27242 39.6057533,28.5833333 39.2222222,28.5833333 L37.7777778,28.5833333 C37.3942467,28.5833333 37.0833333,28.27242 37.0833333,27.8888889 L37.0823333,24.333 L33.5277778,24.3333333 C33.1442467,24.3333333 32.8333333,24.02242 32.8333333,23.6388889 L32.8333333,22.1944444 C32.8333333,21.8109134 33.1442467,21.5 33.5277778,21.5 L37.0823333,21.499 L37.0833333,17.9444444 C37.0833333,17.5609134 37.3942467,17.25 37.7777778,17.25 L39.2222222,17.25 Z" fill="#111319" fill-rule="nonzero"></path></g></svg>
        .slider__item(style="background-image: url(https://image.tmdb.org/t/p/original/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg);")
            .slider__content
                .slider__name The Godfather Part II
                .slider__info
                    .slider__vote 8.7
                    .slider__line
                    .slider__date 1972-03-14
                .slider__genre 
                    .slider__genre--1 War
                    .slider__genre--2 Family
                .slider__desc Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.
        .slider__item(style="background-image: url(https://image.tmdb.org/t/p/original/vI3aUGTuRRdM7J78KIdW98LdxE5.jpg);")
            .slider__content
                .slider__name 1
                .slider__info
                    .slider__vote 8.7
                    .slider__line
                    .slider__date 1972-03-14
                .slider__genre 
                    .slider__genre--1 War
                    .slider__genre--2 Family
                .slider__desc Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.
        .slider__item(style="background-image: url(https://image.tmdb.org/t/p/original/qqHQsStV6exghCM7zbObuYBiYxw.jpg);")
            .slider__content
                .slider__name 2
                .slider__info
                    .slider__vote 8.7
                    .slider__line
                    .slider__date 1972-03-14
                .slider__genre 
                    .slider__genre--1 War
                    .slider__genre--2 Family
                .slider__desc Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.
    button.slider__prev
        i.fas.fa-chevron-left
    button.slider__next
        i.fas.fa-chevron-right
.ccc
