section.slider-wrapper 
    .slider 
        .slider__item
            .slider__content
                .slider__name The Godfather
                .slider__info
                    .slider__vote 8.7
                    .slider__date
                .slider__genre 
                .slider__desc