section.slider-wrapper 
    .slider 
        .slider__item(style="background-image: url(https://image.tmdb.org/t/p/original/Ab8mkHmkYADjU7wQiOkia9BzGvS.jpg);")
            .slider__content
                .slider__name The Godfather
                .slider__info
                    .slider__vote 8.7
                    .slider__line
                    .slider__date 1972-03-14
                .slider__genre 
                    .slider__genre--1 War
                    .slider__genre--2 Family
                .slider__desc Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.
        .slider__item(style="background-image: url(https://image.tmdb.org/t/p/original/tmU7GeKVybMWFButWEGl2M4GeiP.jpg);")
            .slider__content
                .slider__name The Shawshank Redemption
                .slider__info
                    i.fas.fa-star.slider__icon
                    .slider__vote 8.7
                    .slider__line
                    .slider__date 1994-09-23
                .slider__genre 
                    .slider__genre--1 123
                    .slider__genre--2 456
                .slider__desc Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.
        .slider__item(style="background-image: url(https://image.tmdb.org/t/p/original/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg);")
            .slider__content
                .slider__name The Godfather Part II
                .slider__info
                    .slider__vote 8.7
                    .slider__line
                    .slider__date 1972-03-14
                .slider__genre 
                    .slider__genre--1 War
                    .slider__genre--2 Family
                .slider__desc Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.
        .slider__item(style="background-image: url(https://image.tmdb.org/t/p/original/vI3aUGTuRRdM7J78KIdW98LdxE5.jpg);")
            .slider__content
                .slider__name 1
                .slider__info
                    .slider__vote 8.7
                    .slider__line
                    .slider__date 1972-03-14
                .slider__genre 
                    .slider__genre--1 War
                    .slider__genre--2 Family
                .slider__desc Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.
        .slider__item(style="background-image: url(https://image.tmdb.org/t/p/original/qqHQsStV6exghCM7zbObuYBiYxw.jpg);")
            .slider__content
                .slider__name 2
                .slider__info
                    .slider__vote 8.7
                    .slider__line
                    .slider__date 1972-03-14
                .slider__genre 
                    .slider__genre--1 War
                    .slider__genre--2 Family
                .slider__desc Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.
    button.slider__prev
        i.fas.fa-chevron-left
    button.slider__next
        i.fas.fa-chevron-right
section.movies__slider
    h2.movies__category Popular on MiTom
    button.movies__btn-pre
    button.movies__btn-next
    .movies__wrapper
        .movies__card
            .movies__image 
                img.movies__thumb(src="")
                p.movies__de
.ccc
